body {
    height: 100%;
    background: black;
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-size: 3.375em;
}
.titleText{
    font-size: 5em;
    font-family: 'Megrim', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weatherBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.tempBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
@media screen and (max-width: 960px) {
    .titleText {
        font-size: 3.375em;
    }
    body {
        font-size: 2.25em;
    }
}
@media screen and (max-width: 480px) {
    .titleText {
        font-size: 2em;
    }
    body {
        font-size: 1.25em;
    }
}