body {
    height: 100%;
    background: black;
    color: white;
    font-family: 'Poiret One', sans-serif;
    font-size: 3.375em;
}
.titleText{
    font-size: 2.25em;
    font-family: 'Megrim', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weatherBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tempBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ForCbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: black;
    color: gray;
    border: 2px solid gray;
    cursor:pointer;
    font-size: 0.75em;
    padding: 0.25em;
    margin:5px
}
@media screen and (max-width: 960px) {
    .titleText {
        font-size: 3.375em;
    }
    body {
        font-size: 2.25em;
    }
}
@media screen and (max-width: 480px) {
    .titleText {
        font-size: 2em;
    }
    body {
        font-size: 1.25em;
    }
}